<mat-sidenav-container>
  <mat-sidenav opened mode="side">

      <mat-list>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <img class="avatar" src="https://i.ibb.co/8BFzxDR/user-1.png">
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <p>Aqui van los Nombres</p>
            </mat-list-item>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <p>Aqui van los Apellidos</p>
            </mat-list-item>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button color="primary">Cuentas</button>
            </mat-list-item>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button (click) = "goModules()">Modulos</button>
            </mat-list-item>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button (click) = "goEvents()">Eventos</button>
            </mat-list-item>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button (click) = "goDependencies()">Dependencias</button>
            </mat-list-item>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button (click) = "goEditProfile()">Editar Perfil</button>
            </mat-list-item>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
              <button mat-raised-button color="primary" (click)="closeSession()">Cerrar Sesión</button>
            </mat-list-item>
          </div>
        </div>
      </mat-list>
  </mat-sidenav>

  PARTE DERECHA
  <mat-sidenav-content>

    <mat-grid-list cols="1" rowHeight="1:0.04">
      <mat-grid-tile>
        <button mat-stroked-button>Añadir cuenta</button>
      </mat-grid-tile>
    </mat-grid-list>

    <p></p>

    <mat-grid-list cols="1" rowHeight="1:0.45" row>
      <mat-grid-tile> Acá debería ir la tabla
        <!-- <table mat-table [dataSource]="myDataArray">
          ...
        </table> -->
      </mat-grid-tile>
    </mat-grid-list>
    
    <p></p>

    <mat-grid-list cols="1" rowHeight="1:0.04">
      <mat-grid-tile>
        <mat-paginator></mat-paginator>
      </mat-grid-tile>
    </mat-grid-list>
     
  </mat-sidenav-content>
  
</mat-sidenav-container>