<mat-sidenav-container>
  <mat-sidenav opened mode="side">

      <mat-list>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <img class="avatar" src="https://i.ibb.co/8BFzxDR/user-1.png">
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
              <p class = "name">{{userModel.mainName}}</p>
            </mat-list-item>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
              <p class = "lastName">{{userModel.surName}}</p>
            </mat-list-item>
          </div>
        </div>
        <mat-divider class = "divisor"></mat-divider>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button class = "button" (click) = "goCounts()">Cuentas</button>
            </mat-list-item>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button class = "button" (click) = "goModules()">Modulos</button>
            </mat-list-item>
          </div>
        </div>
      
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button class = "button" (click) = "goDependencies()">Dependencias</button>
            </mat-list-item>
          </div>
        </div>
        
        <mat-divider class = "divisor"></mat-divider>

        <div class="paddingButton"> </div>

        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item class>
              <button mat-raised-button class = "closeButton" (click)="closeSession()">Cerrar Sesión</button>
            </mat-list-item>
          </div>
        </div>
      </mat-list>
  </mat-sidenav>

  PARTE DERECHA
  <mat-sidenav-content>

    Acá va todo el contenido
     
  </mat-sidenav-content>

</mat-sidenav-container>
