<div>
  <mat-toolbar color="primary" class="app-header">
    <div><a href="#" target="_blank" class="positronx">Me Anoto!</a></div>
    <span class="nav-tool-items">
      <a mat-button (click)="goLogin()">Iniciar Sesion</a>
      <a mat-button mat-raised-button (click)="goRegister()">Registrarse</a>
    </span>
  </mat-toolbar>
</div>

<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Bienvenid@!</mat-card-title>
    </mat-card-header>

    <form class="example-form" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [(ngModel)]="email" name="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Contraseña" [(ngModel)]="pass" name="pass">
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Iniciar Sesion</button>
    </form>
  </mat-card>
</div>