<mat-sidenav-container>
  <mat-sidenav opened mode="side">

      <mat-list>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <img class="avatar" src="https://i.ibb.co/8BFzxDR/user-1.png">
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
              <p>{{userSession.mainName}}</p>
            </mat-list-item>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
              <p>{{userSession.surName}}</p>
            </mat-list-item>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button (click) = "goAccounts()">Cuentas</button>
            </mat-list-item>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button (click) = "goModules()">Modulos</button>
            </mat-list-item>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button (click) = "goEvents()">Eventos</button>
            </mat-list-item>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button color="warn">Dependencias</button>
            </mat-list-item>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
                <button mat-raised-button (click) = "goEditProfile()">Editar Perfil</button>
            </mat-list-item>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="center" flex fxLayoutGap="10px">
          <div fxLayout="column" flex="50">
            <mat-list-item>
              <button mat-raised-button color="primary" (click)="closeSession()">Cerrar Sesión</button>
            </mat-list-item>
          </div>
        </div>
      </mat-list>
  </mat-sidenav>

  <!-- PARTE DERECHA -->
  <mat-sidenav-content class="sideNavContent">

    <mat-grid-list cols="3" rowHeight="4em" class="gridList">

      <!-- Header Tile -->
      <mat-grid-tile class="header" [colspan]="3" [rowspan]="1">
        <div>
          <button mat-stroked-button (click)="openDialog()">Añadir Sala</button>
        </div>
        <div>
          <button mat-stroked-button>Editar Sala</button>
        </div>
        <div>
          <button mat-stroked-button (click)="openDialog2()">Eliminar Sala</button>
        </div>
      </mat-grid-tile>
      

      <!-- Middle Tile -->
      <mat-grid-tile class="middle" [colspan]="3" [rowspan]="13">
        <div class="internalDiv">
          <mat-grid-list cols="1" rowHeight="4em">
            <mat-grid-tile [rowspan]="10" class="tableTile">
              <table mat-table [dataSource]="dataSource" matSort>

                <!-- Weight Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let dependence"> {{dependence.id}} </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let dependence"> {{dependence.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="capacity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacidad </th>
                  <td mat-cell *matCellDef="let dependence"> {{dependence.capacity}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="location">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicacion </th>
                  <td mat-cell *matCellDef="let dependence"> {{dependence.location}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selectDependence(row)"
                    [class.selected]="row.selected"
                    ></tr>
              </table>
            </mat-grid-tile>
            <mat-grid-tile [rowspan]="3">
              <mat-paginator
                  [length]="dataSource.data.length"
                  [pageSize]="page_size"
                  [pageSizeOptions]="page_size_options"
                  (page)="onPageChange($event)"
                  aria-label="Select page"
              ></mat-paginator>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        
      </mat-grid-tile>

      <!-- Footer Tile -->
      <mat-grid-tile class="footer" [colspan]="3" [rowspan]="1">
        Un producto de RatonesOnTour S.A.
      </mat-grid-tile>

    </mat-grid-list>
     
  </mat-sidenav-content>
  
</mat-sidenav-container>