mat-sidenav-container {
  height: 100%;
}
mat-sidenav, mat-sidenav-content{
  padding: 16px;
  height: 100%;
  background-color: red;
}

mat-side-content{
  height: 100%;
}

mat-sidenav {
  height: 100%;
  background-color: rgb(67, 67, 235);
  width: auto;
}

mat-form-field{
  width: 90%;
}

table{
  width: 95%;
}

.gridList{
  margin-bottom: auto;
  margin-top: auto;
}

.header{
  height: 10%;
  background-color: red;
}

.middle{
  background-color: brown;
  height: 30%;
}

.middleContainer{
  background-color: violet;
}

.footer{
  height: 10%;
  background-color: green;
}

.avatar{
  margin-bottom: 20px;
}

.mat-stroked-button{
  margin-left: 85%;
  background-color: white;
}

.imgPrev{
  margin-top: 50px;
  margin-bottom: 80px;
  margin-left: 30%;
  margin-right: 50%;
}

.avatarPrev{
  height: 150px;
  width: auto;
}

.disabledFormField{
  margin-bottom: 20px;
  width: 100%;
}

.disabledFormContainer{
  margin-left: 15%;
  margin-right: 5%;
  width: 80%;
}

.matInputField{
  width: 100%;
}

.sideNavContent{
  background-color: yellow;
  height: 100%;
}

.internalDiv{
  width: 100%;
}

.tableTile{
  margin-top: 5%;
  margin-bottom: 10%;
}

.name{
  font-size: 14pt;
  font-weight: bold;
  color: white;
}

.lastName{
  font-size: 14pt;
  font-weight: bold;
  color: white;
}

.button{
  width:150px;
}

.closeButton{
  background-color:rgb(67, 67, 235);
  color: white;
  border: 1px solid white;
  width:150px;
}

.currentButton{
  background-color: #0583F2;
  border: 1px solid white;
  color: white;
  width:150px;
}

.divisor{
  background-color: white;
}

.addButton{
  background-color: rgb(84, 84, 243);
  color: white;
}

.textFooter{
  color: white;
}

.paddingButton{
  padding-bottom: 140%;
}